h1{
    color : white;
    background : blue;
    text-align: center;
    font-family: verdana;
}
.card{
    grid-auto-rows: True;
    border: 2px solid gray;
    margin:2px;

}

.cards {
 
    display: grid;
     
    grid-template-columns: repeat(3, 1fr);
     
    grid-auto-rows: auto;
     
    grid-gap: 1rem;
     
    }
     