<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="{%static 'bootstrap-5.1.1-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{%static 'css/demo.css' %}">
</head>
<body>
    <form method="post">
    <div class="container" align = "center">
        <h1>Add Movie</h1> <hr>
        <p></p>
    {{form.as_p}}
    {% csrf_token %}
    <input type="submit" class='btn btn-primary' value="Add">
    <div>
    </form>
</body>
</html>